@tailwind base;
@tailwind components;
@tailwind utilities;
.animate__animated.animate__slideInLeft {
    --animate-duration: 6s;
  }
.animate__animated.animate__slideInRight {
    --animate-duration: 6s;
  }
.animate__animated.animate__slideInUp {
    --animate-duration: 4s;
  }